# Python virtual environment
.venv/
.venv-*/

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Blender temporary files
*.blend1
*.blend2
*.blend@

# Ignore ZIP files generally
*.zip
*.rar

# But include the public release
!Releases/
!Releases/pcb_studioV9.zip
!Releases/pcb_studioV11.zip
!Releases/pcb_studio-1.0.0.zip
!Releases/pcb_studio-1.1.0.zip
!Releases/pcb_studio-1.2.0.zip
!Releases/pcb_studio-2.3.2.zip
!Releases/pcb_studioV1.3.5.zip
tests/*.log

# OS files
Thumbs.db
.DS_Store

# Backups and local reference material
*.bak
blender_rendering_subtitle.txt
